html
  head
    title= title
  body
    h1= message
    h2= artid
    a(href='/articles/create') Create new article
    ul
    each article in articles
        li= article.title
        p= article.text
        button(onclick="window.location.href='/articles/"+article.id+"/edit';") Edit this article 
